.fixed-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  transition: 1s;
  box-shadow: 0px 0px 25px rgba(104, 100, 100, 0.548);
}
.fixed-excel {
  bottom: 100px;
}
.fixed-add {
  bottom: 160px;
}

.answer-item + .answer-item {
  margin-top: 6px;
}
