.ant-progress-bg {
  height: 4px !important;
}
.ant-progress-outer {
  display: block;
  margin: 0;
  padding: 0;
}
.ant-progress {
  line-height: 1px;
}
.header-load {
  position: fixed;
  z-index: 1;
  top: 0;
  background: blue;
  height: 3px;
  width: 100%;
}
.ant-card {
  height: auto !important;
}
